<style>
hr{
    border: 1px solid rgb(0, 0, 0);
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10ch;
}
.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social-media-icons-container{
    padding-top: 0.5ch;
}
.social-media-icons{
    padding: 1ch;
}
</style>
<hr>
<div class="footer-container">
    <h5>created with ❤️ by <strong>Parvez</strong></h5>
    <a href="https://github.com/pz1971/text-paste">repository link (MIT license)</a>
    <span>Find me here 👇</span>
    <div class="social-media-icons-container">
        <a href="https://github.com/pz1971" class="social-media-icons">
            <img src="/social-media-icons/github-icon.png" alt="https://github.com/pz1971" width="30px" height="30px"></a>
        <a href="https://www.linkedin.com/in/pz1971/" class="social-media-icons">
            <img src="/social-media-icons/linkedin-icon.png" alt="https://www.linkedin.com/in/pz1971/" width="30px" height="30px"></a>
        <a href="https://twitter.com/pz_parvez" class="social-media-icons">
            <img src="/social-media-icons/twitter-icon.png" alt="https://twitter.com/pz_parvez" width="30px" height="30px"></a>
    </div>
</div>