<style>
    .title-container {
        display: flex;
        padding-bottom: 2ch;
    }
    .header-title {
        color: green;
    }
    .slogan {
        color: red;
        padding-top: 2ch;
    }
</style>
<!-- title and slogan -->
<div class="title-container">
    <h1 class="header-title">TEXT-PASTE</h1>
    <h5 class="slogan">Just Paste-It 👌</h5>
</div>