<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text-Paste Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="index.css" rel="stylesheet">
</head>
<body>
    <!-- input form -->
    <form method="post" action="/p">
        <!-- title -->
        <div class="mb-3">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Title">
        </div>
        <!-- three inputs in same row, side by side -->
        <div class="row">
            <!-- input author name -->
            <div class="mb-3 column">
                <label for="author">Author Name</label>
                <input type="text" class="form-control" id="author" name="author" placeholder="Enter your name" maxlength="50">
            </div>
            <div class="mb-3 column">
                <label>Text Type</label>
                <select class="form-select" name="text_type">
                    <!-- txt is default -->
                    <option selected>txt</option>
                    <option>cpp</option>
                    <option>java</option>
                    <option>js</option>
                    <option>py</option>
                </select>
            </div>
            <div class="mb-3 column">
                <label>Expire Option</label>
                <select class="form-select" name="expire_option">
                    <!-- Never is default -->
                    <option selected>never</option>
                    <option>1h</option>
                    <option>12h</option>
                    <option>1d</option>
                    <option>1w</option>
                    <option>1m</option>
                    <option>1y</option>
                </select>
            </div>
        </div>
        <!-- checkbox and password field. Password will be enabled if checkbox is marked -->
        <div class="mb-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="true" id="flexCheckDefault" name="pass_protected" onchange="togglePasswordEnabled()">
                <label class="form-check-label" for="flexCheckDefault">
                  Protect With Password
                </label>
            </div>
            <!-- initially password filed is disabled; min length 4, max lenght 12 -->
            <input class="form-control" type="password" placeholder="Password" id="password" name="password" minlength="4" maxlength="12" disabled>
            <script>
                // toggles password field enabled/disabled
                function togglePasswordEnabled() {
                    var password = document.getElementById("password");
                    if (password.disabled) {
                        password.disabled = false;
                    } else {
                        password.disabled = true;
                        // clear password field
                        password.value = "";
                    }
                }
            </script>
        </div>
        <div class="mb-3">
            <!-- paste texts in this field -->
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" placeholder="Paste here" name="text" required></textarea>
        </div>
        <!-- submit button -->
        <input type="submit" class="btn btn-primary" name="submit_button" value="Paste!">
    </form>
</body>
</html>