<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text-Paste</title>

    <!-- password prompt -->
    <script type="text/javascript">
        var s = "";
        while (s != "<%= password %>") {
            s = prompt("please enter the password");
            if (s == "<%= password %>") {
                break;
            }
            else {
                alert("Incorrect password-Try again");
            }
        }
    </script>

    <!-- highlight and line number -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.5.1/build/styles/default.min.css">
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.5.1/build/highlight.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/highlightjs-line-numbers.js@2.8.0/dist/highlightjs-line-numbers.min.js"></script>
    <script>
        hljs.highlightAll();
        hljs.initLineNumbersOnLoad();
    </script>

    <!-- custom css -->
    <link rel="stylesheet" href="paste.css">
</head> 
<body>
    <pre>
        <code class="language-<%=text_type%>"><%= text %></code>
    </pre>
</body>

</html>