.hljs-ln-n{
    margin-right: 3ch;
    padding-left: 1ch;
    color: black;
    font-weight: bold;
    border-right: solid;
    padding-right: 1ch;
}
tr:nth-child(odd){
    background-color:rgb(240, 230, 255);
    width: auto;
    display: block;
    padding-top: 0.3ch;
    padding-bottom: 0.3ch;
}
tr:nth-child(even){
    background-color: #dcfce4;
    width: auto;
    display: block;
    padding-top: 0.3ch;
    padding-bottom: 0.3ch;
}
table{
    width: auto;
    display: block;   
}
tbody{
    width: auto;
    display: block;   
}
code{
    border-color: black;
    border-style: solid;
}
body{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.copy-btn-and-font-size-selector{
    display: flex;
    flex-direction: row;
}
.copy-button{
    margin-left: auto;
}
.font-size-selector{
    width: 10%;
}
.font-size-selector-label{
    align-self: center;
    padding-right: 1ch;
}
.paste-info{
    display: flex;
}
.author-name{
    margin-left: 1ch;
    margin-right: 1ch;
    font-size: larger;
    text-align: center;
    background-color: antiquewhite;
}
.create-time{
    padding-left: 2ch;
    padding-right: 2ch;
    font-size: small;
    align-self: center;
}