body{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.copy-btn-and-font-size-selector{
    display: flex;
    flex-direction: row;
}
.copy-button{
    margin-left: 2ch;
}
.download-button{
    margin-left: auto;
}
.font-size-selector{
    width: 10%;
}
.font-size-selector-label{
    align-self: center;
    padding-right: 1ch;
}
.paste-info{
    display: flex;
}
.author-name{
    margin-left: 1ch;
    margin-right: 1ch;
    font-size: larger;
    text-align: center;
    background-color: antiquewhite;
}
.create-time{
    padding-left: 2ch;
    padding-right: 2ch;
    font-size: small;
    align-self: center;
}
.untitled{
    color: gray;
}
.title-urlCopyButton-views{
    display: flex;
    flex-direction: row;
    padding-bottom: 2ch;
}
.copy-url-button{
    margin-right: 2ch;
}
.views{
    margin-left: auto;
    font-size: larger;
}
.views-number{
    font-size: x-large;
    color: green
}